<div class="flex-column" id="root">
    <h1 class="future-color future-secondary-font future-box" id="extavalon-title"><a href="/">extavalon</a></h1>
    <section class="profile-section flex-column future-color future-box">
        <h2>Profile Information:</h2>
        <dl class="property-table">
            <dt class="property-tag">First Name:</dt>
            <dd class="property-value">{{ firstName }}</dd>
            <dt class="property-tag">Last Name:</dt>
            <dd class="property-value">{{ lastName }}</dd>
        </dl>
    </section>
    <section class="profile-section flex-column future-color future-box">
        <h2>Game Logs:</h2>
        {{#if gameLog}}
            {{# each gameLog }}
                <section class="game-log">
                    <p>Your Role: {{ this.role }}</p>
                    <p>Winner: {{ this.winning_team }}</p>
                    <div class="mission-results">
                        <span>Missions:</span>
                        {{#if this.mission_one_winner}}
                            <img src="/images/successful-mission.png" alt="Success">
                        {{else}}
                            <img src="/images/failed-mission.png" alt="Fail">
                        {{/if}}
                        {{#if this.mission_two_winner}}
                            <img src="/images/successful-mission.png" alt="Success">
                        {{else}}
                            <img src="/images/failed-mission.png" alt="Fail">
                        {{/if}}
                        {{#if this.mission_three_winner}}
                            <img src="/images/successful-mission.png" alt="Success">
                        {{else}}
                            <img src="/images/failed-mission.png" alt="Fail">
                        {{/if}}
                        {{#if this.mission_four_exists}}
                            {{#if this.mission_four_winner}}
                                <img src="/images/successful-mission.png" alt="Success">
                            {{else}}
                                <img src="/images/failed-mission.png" alt="Fail">
                            {{/if}}
                        {{/if}}
                        {{#if this.mission_five_exists}}
                            {{#if this.mission_five_winner}}
                                <img src="/images/successful-mission.png" alt="Success">
                            {{else}}
                                <img src="/images/failed-mission.png" alt="Fail">
                            {{/if}}
                        {{/if}}
                    </div>
                </section>
            {{/each}}
        {{else}}
            <h3 style="text-align: center;">No Game History Found</h3>
        {{/if}}
    </section>
</div>