<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"
                integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w=="
                crossorigin="anonymous">
        </script>
    </head>
    <body>
        <div class="flex-column" id="root">
            <h1 class="future-title-box"><a class="future-link" href="/">extavalon</a></h1>
            <section class="future-section-boxed flex-column">
                <h1 class="future-header">Profile Information:</h1>
                <dl class="property-table">
                    <dt class="property-tag">First Name:</dt>
                    <dd class="property-value"><%= firstName %></dd>
                    <dt class="property-tag">Last Name:</dt>
                    <dd class="property-value"><%= lastName %></dd>
                </dl>
            </section>
            <section class="future-section-boxed flex-column">
                <h1 class="future-header">Game Logs:</h1>
                <% if (gameLog) { %>
                    <% gameLog.forEach(game => { %>
                        <section class="game-log">
                            <p>Your Role: <%= game.role %></p>
                            <p>Winner: <%= game.winning_team %></p>
                            <div class="mission-results">
                                <span>Missions:</span>
                                <% if (game.mission_one_winner) { %>
                                    <img src="/images/successful-mission.png" alt="Success">
                                <% } else { %>
                                    <img src="/images/failed-mission.png" alt="Fail">
                                <% } %>
                                <% if (game.mission_two_winner) { %>
                                    <img src="/images/successful-mission.png" alt="Success">
                                <% } else { %>
                                    <img src="/images/failed-mission.png" alt="Fail">
                                <% } %>
                                <% if (game.mission_three_winner) { %>
                                    <img src="/images/successful-mission.png" alt="Success">
                                <% } else { %>
                                    <img src="/images/failed-mission.png" alt="Fail">
                                <% } %>
                                <% if (game.mission_four_exists) { %>
                                    <% if (game.mission_four_winner) { %>
                                        <img src="/images/successful-mission.png" alt="Success">
                                    <% } else { %>
                                        <img src="/images/failed-mission.png" alt="Fail">
                                    <% } %>
                                <% } %>
                                <% if (game.mission_five_exists) { %>
                                    <% if (game.mission_five_winner) { %>
                                        <img src="/images/successful-mission.png" alt="Success">
                                    <% } else { %>
                                        <img src="/images/failed-mission.png" alt="Fail">
                                    <% } %>
                                <% } %>
                            </div>
                        </section>
                    <% }) %>
                <% } else { %>
                    <h2 class="future-header" style="text-align: center;">No Game History Found</h2>
                <% } %>
            </section>
        </div>
    </body>
</html>
