<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/stats.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script src="/javascripts/stats.js"></script>
    </head>
    <body>
        <div class="flex-column" id="root">
            <table class="future-color" id="player-team-stats" style="width:100%">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Resistance Wins</th>
                        <th>Resistance Losses</th>
                        <th>Spy Wins</th>
                        <th>Spy Losses</th>
                        <th>Jester Wins</th>
                        <th>Jester Losses</th>
                    </tr>
                </thead>
                <tbody>
                    <% playerTeamStats.forEach(playerStats => { %>
                        <tr>
                            <td><%= playerStats.first_name %></td>
                            <td><%=playerStats.last_name %></td>
                            <td><%= playerStats.resistancewins %></td>
                            <td><%= playerStats.resistancelosses %></td>
                            <td><%= playerStats.spywins %></td>
                            <td><%= playerStats.spylosses %></td>
                            <td><%= playerStats.jesterwins %></td>
                            <td><%= playerStats.jesterlosses %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </body>
</html>
